.conteiner{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

.product{
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.product__text{

}

.button{
    display: block;
    margin-top: 10px;
}